@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #e5e7eb;
  box-sizing: border-box;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.top,
.footer {
  background-color: #1f2937;
}

.regular {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.bold {
  font-weight: 800;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.text-36 {
  font-size: 36px;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(224, 222, 222);
}

.article-header {
  text-align: center;
  color: #1f2937;
}

.sign-up-btn {
  background-color: #3882f6;
}

.sign-up-btn:active {
  background-color: #2f6aca;
}

.container-article p {
  background-color: white;
  color: #1f2937;
}

.quote a {
  color: #202a38;
}

.quote a:hover {
  color: #606360;
}

.navbar,
.footer {
  width: 100%;
}

.navbar {
  padding: 10px;
  min-height: 70px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  display: inline-block;
  list-style-type: none;
  padding-right: 30px;
}

.navbar li:last-child {
  padding: 0;
}

.navbar li:first-of-type {
  margin-right: auto;
}

.content {
  margin-top: 150px;
  padding-bottom: 280px;
}

.top {
  padding: 0 180px;
}

.sign-up-btn {
  padding: 10px 25px;
  border-radius: 9px;
  margin-top: 10px;
  align-self: flex-start;
}

.content {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  justify-content: flex-start;
}

.container {
  display: flex;
  margin-right: auto;
  margin-top: 100px;
}

.img {
  margin-left: auto;
}

.square {
  width: 185px;
  height: 250px;
  border: 4px solid blue;
  border-radius: 20px;
  background-image: url("https://cdn.pixabay.com/photo/2023/02/02/19/48/building-7763627_960_720.png");
  margin: auto;
}

.container-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  gap: 50px;
}

.box-article {
  flex-direction: column;
  text-align: center;
  height: 330px;
  display: flex;
}

.box-article p {
  text-align: center;
  margin: 0;
  width: 200px;
  text-align: center;
}

.box-article div {
  flex: 1;
}

.quote {
  background-color: #e5e7eb;
  color: #202a38;
  font-style: italic;
  padding: 250px;
  text-align: center;
}

.quote p {
  text-align: right;
  margin-right: 45px;
}

.container-quote {
  margin: 40px 450px;
}
section {
  background-color: white;
  padding: 200px 300px;
}
.container-section {
  justify-content: space-between;
  padding: 50px;
  background-color: #3882f6;
  flex-wrap: 1;
}
.container-section h3,
p {
  margin: 0;
  margin-left: 70px;
}
.btn-sign {
  display: inline;
  color: white;
  background-color: #3882f6;
  border: 3px solid white;
  margin-left: 20%;
  padding: 10px 40px;
  border-radius: 12px;
}
.container-section p {
  display: inline;
}
