@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #e5e7eb;
}
.navbar,
.footer {
  width: 100%;
}
.navbar {
  padding: 10px;
  min-height: 70px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.bold {
  font-weight: 800;
}
.navbar li {
  display: inline-block;
  list-style-type: none;
  padding-right: 30px;
}
.navbar li:last-child {
  padding: 0;
}
.navbar li:first-of-type {
  margin-right: auto;
}
a {
  color: #e5e7eb;
  text-decoration: none;
}

.header-logo {
  justify-content: flex-start;
}
.top,
.footer {
  background-color: #1f2937;
}
.header-logo {
  color: #f9faf8;
  font-size: 24px;
}
.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.regular {
  font-size: 18px;
  margin: 0;
}
.content {
  margin-top: 150px;
  padding-bottom: 280px;
}
.top {
  padding: 0 180px;
}
a:hover {
  color: rgb(224, 222, 222);
}
.sign-up-btn {
  background-color: #3882f6;
  padding: 10px 25px;
  border-radius: 9px;
  margin-top: 10px;
  align-self: flex-start;
}
.sign-up-btn:active {
  background-color: #2f6aca;
}
.content {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  justify-content: flex-start;
}
.container {
  display: flex;
  margin-right: auto;
  margin-top: 100px;
}
.img {
  margin-left: auto;
}
